@model Lab03.Models.Student

@{
    ViewData["Title"] = "Index";
}

<h1>Student</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Manage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark" class="control-label"></label>
                <input asp-for="Mark" class="form-control" />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <img src="~/Photos/@Model.Photo" alt="@Model.Name" /><br/>
                <input type="file" name="myfile" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ReadStudent" class="btn btn-success">Open</a>
            </div>
        </form>
    </div>
</div>

